<div class="ee-product-item {% unless product.available %}ee-product-item--sold-out{% endunless %}">
    <div class="ee-product-item__inner">
        <a class="ee-product-item__link ee-product-item__image-container"
           href="{{ product.url | within: collection }}" title="{{ product.title }}">
            <span class="visually-hidden">{{ product.title }}</span>

            {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
            {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
            {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            {% unless product.featured_image == blank %}
                {% include 'image-style' with image: product.featured_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
            {% endunless %}

            <ul class="ee-product-card__images">
                {% for image in product.images %}
                    <li class="ee-product-card__image js">
                        <div class="ee-product-card__image-bg"
                             data-thumbnail-id="{{ image.id }}"
                             {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                            <img class="ee-product-card__image-img" src="{{ image.src | img_url: 'original' }}"
                                 alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: image.alt | escape }}">
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </a>

        <div class="ee-product-item__bottom ee-flex ee-justify-space-between ee-align-center">
            <div class="ee-product-item__bottom--left ee-product-item__name-price">
                <div class="ee-product-item__title" aria-hidden="true">{{ product.title }}</div>
                {% include 'product-price', variant: product.selected_or_first_available_variant %}
            </div>
            <div class="ee-product-item__bottom--center">
                <div class="ee-product-item__image-dots"></div>
            </div>
            <div class="ee-product-item__bottom--right">
                <a href="#" title="Wishlist" class="ee-product-item__button ee-product-item__button--wishlist">
                    {% include 'icon-heart' %}
                    <span class="icon__fallback-text">Wishlist</span>
                </a>
            </div>
        </div>

    </div>
</div>
