<div class="page-width ee-container">
    <div class="section-header ee-section-header">
    <h1>{{ page.title }}</h1>
    <div class="breadcrumbs">{% section 'breadcrumbs' %}</div>
  </div>

    <div class="page__content">
        {% section 'dynamic-content' %}

        <div class="ee-donation-form">
            {%- assign formId = 'DonationForm' -%}
            {% form 'contact', id: formId %}
                {% include 'form-status', form_id: formId %}

                <div class="ee-donation-form__grid">
                    <div class="ee-donation-form__row">
                        <label for="{{ formId }}-name">{{ 'donation.form.name' | t }}</label>
                        <input type="text" id="{{ formId }}-name" name="donation[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                    </div>
                    <div class="ee-donation-form__row">
                        <label for="{{ formId }}-email">{{ 'donation.form.email' | t }} <span aria-hidden="true">*</span></label>
                        <input
                                type="email"
                                id="{{ formId }}-email"
                                name="donation[email]"
                                autocorrect="off"
                                autocapitalize="off"
                                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                                aria-required="true"
                                {%- if form.errors contains 'email' -%}
                                    class="input--error"
                                    aria-invalid="true"
                                    aria-describedby="{{ formId }}-email-error"
                                {%- endif -%}
                        >
                        {%- if form.errors contains 'email' -%}
                            <span id="{{ formId}}-email-error" class="input-error-message">
                              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                              {% include 'icon-error' %}
                              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                            </span>
                        {%- endif -%}
                    </div>

                    <div class="ee-donation-form__row">
                        <label for="{{ formId }}-order">{{ 'donation.form.order' | t }}</label>
                        <input type="text" id="{{ formId }}-order" name="donation[order]" value="{% if form[order] %}{{ form[order] }}{% endif %}">
                    </div>

                    <div class="ee-donation-form__row">
                        <label for="{{ formId }}-date">{{ 'donation.form.date' | t }}</label>
                        <input type="text" id="{{ formId }}-date" name="donation[date]" value="{% if form[date] %}{{ form[date] }}{% endif %}">
                    </div>

                    <div class="ee-donation-form__row">
                        <label for="{{ formId }}-place">{{ 'donation.form.place' | t }}</label>
                        <select id="{{ formId }}-place" name="donation[place]">
                            <option selected>SightPro.com</option>
                            <option>Example.com</option>
                        </select>
                    </div>

                    <div class="ee-donation-form__row">
                        <label for="{{ formId }}-nonprofit">{{ 'donation.form.nonprofit' | t }}</label>
                        <select id="{{ formId }}-nonprofit" name="donation[place]">
                            <option selected>World Wildlife Fund</option>
                            <option>World Wildlife Fund 2</option>
                        </select>
                    </div>

                    <div class="ee-donation-form__row">
                        <button type="submit">{{ 'donation.form.submit' | t }}</button>
                    </div>

                </div>

            {% endform %}
        </div>
    </div>
</div>
